ANY_DIFF_SIGNIFICANT_FOR_TWO_SEQS=TRUE
AVG_QUALITY_CUTOFF=30
ERROR_MODEL=Balzer
FASTA=TRUE
FASTA_LOCATION=good.fasta
FASTQ=FALSE
FASTQ_LOCATION=null
FILTER_N_BEFORE_POS=350
FLOW_KEY=TCAG
MAXIMUM_MANHATTAN_DISTANCE=13
MAX_RECURSE_DEPTH=2
MAX_STD_DEV_LENGTH=2
MID_FILE=.dummmy
MID_OPTION=NO_MID
MIN_FLOW_TRUNCATION=150
MIN_READ_REP_BEFORE_TRUNCATION=0.0
OUTPUT_DIR=denoised_acacia
OUTPUT_PREFIX=acacia_out
QUAL_LOCATION=null
REPRESENTATIVE_SEQUENCE=Mode
SIGNIFICANCE_LEVEL=-9
SPLIT_ON_MID=FALSE
TRIM_TO_LENGTH=350
TRUNCATE_READ_TO_FLOW=
