MAXIMUM_HAMMING_DISTANCE=13
MID_OPTION=NO_MID
MAX_RECURSE_DEPTH=2
FLOW_KEY=TCAG
FASTA=TRUE
PERFORM_ERROR_CORRECTION=TRUE
MAX_STD_DEV_LENGTH=2
ERROR_MODEL=Balzer
TRIM_TO_LENGTH=350
SIGNIFICANCE_LEVEL=-9
REPRESENTATIVE_SEQUENCE=Mode
QUAL_LOCATION=
AVG_QUALITY_CUTOFF=30
FASTA_LOCATION=good.fasta
MID_FILE=
SPLIT_ON_MID=FALSE
OUTPUT_PREFIX=acacia_out_
FASTQ_LOCATION=null
FASTQ=FALSE
OUTPUT_DIR=denoised_acacia
